/*
body {
  background-color: #ffffff;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  line-height: 18px;
  margin: 12px;
}

select, option {
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

div.main-body {
	padding: 36px 14px 0px 14px;
	background-color: #ffeeee;
}

img.post {
	width: 20px;
}

ul.horizontal {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.horizontal li {
	display: inline;
	background-color: red;
	font-size: 18px;
	padding: 0px 4px 0px 4px;
}

tr.border-top {
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: #000000;
}

tr.border-bottom {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #000000;
}

td.thin {
	width: 50px;
}

td.medium {
	width: 100px
	text-align: left;
}

td.wide {
	width: 400px;
	text-align: left;
}

a.title, a.title:visited {
	font-weight: bold;
	background-color: transparent;
	text-decoration: none;
}

a.title:hover {
	text-decoration: underline;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
*/